/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Montserrat;
    background-color: #f0f0f0;
    text-indent: 50px;
}

header {
    background-color: #00ABE4;
    color: #000;
    text-align: center;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    background-color:#d4dde8;
    text-align: center;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #000;
}

main {
    padding: 20px;
}
#button_container {
    width: 100%;
    height: 10%;
    background-color: #E9F1FA;

    background-image: #c4daf3;
    color: #02a6dd;

    float: left;

    margin-top: 5px;
}

#button_container button {
    width: 50%;
    height: 100%;
    float: left;

    background: transparent;
    color: inherit;

    font-family: Montserrat;
    letter-spacing: 1px;
    font-weight: 900;
    font-size: 12px;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}